[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=No name
Type=Application
Exec=/home/alpi/TESLA/TESLASTART
TryExec=
Icon=/home/alpi/BITMAPS/tesla.png
X-GNOME-DocPath=
Terminal=true
Name[en_US]=TESLA-ALPI
GenericName[en_US]=
Comment[en_US]=
