
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=No name
Type=Application
Exec=/home/alpi/ALPI/MR_XTU_ALPI_GARFIELD
TryExec=
Icon=/home/alpi/BITMAPS/xtu_alpi_garfield.png
X-GNOME-DocPath=
Terminal=true
Name[en_US]=XTU - ALPI - GARFIELD
GenericName[en_US]=
Comment[en_US]=
