
[Desktop Entry]
Encoding=UTF-8
Name=Link to DeviceMaster
Type=Link
URL=http://10.20.1.26/home.asp
Icon=gnome-fs-bookmark
Name[en_US]=http Device Master
